<h2>Create Survey</h2>
<form action="create" method="POST">
    <label for="title">Title (displayed as page title in browser)</label>
    <input type="text" name="title" id="title" />

    <label for="identifier">Identifier (used in file name)</label>
    <input type="text" name="identifier" id="identifier" />

    <input type="submit" value="Create">
</form>

