input[type=text],
input[type=email],
input[type=password]
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

form > .field
{
    width: 300px;
    margin: auto 0 auto 5px;
}

table
{
    border: 1px solid gray;
}