body {
  font-family: Arial;
  font-size: 12pt;
  background-color: #E0FFF8;
}

#title {
  font-size: 15pt;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

#time_left {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

#container {
  width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

#container img {
  max-width: 600px;
  max-height: 400px;
}

#container > div {
  padding-bottom: 5px;
}

#container input[type=radio] {
  margin-bottom: 5px;
}